*, html{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.body{
  background-color: #343434;
}

.main{
  display:flex;
  flex-direction: row;
}

.side{
  background: url(wine-img-02.jpg);
  flex-grow: 1;
  min-width: 300px;
  width: 35vw;
  background-size: cover;
  height: 100vh;
}

.container-img{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0px 25px;
  margin: 100px 0;
}


input:focus{
  outline: none;
}

.wine-icon{
  margin: 15px 0 15px 33%;

  width: 30%;
}

.content_section{
  padding: 150px 0 0 0;
  background-color: #f9fafb;

}

.content_para{
  font-weight: 600;
  font-size: 1.25rem;
    padding: 0 100px 20px 50px;

}

.content_para-two{
  margin: 15px 0 0 0;
}

.form-container{
  margin: 50px 0px 20px;
  background-color: #fff;
  box-shadow: 0px 3px #dadbdb;  
  padding: 0 0 20px 50px;
}

.heading_one{
  font-weight: 600;
  padding: ;
}

.fieldset{
  display: grid;
  grid-template-columns: auto auto;
  text-transform: uppercase;
  border: none;
}

.input-container{
  display: flex;
  flex-direction: column;
}

.input{
  width: 250px;
  border: 1px solid #DCDFE1;
  font-size: 0.75rem;
  padding: 7px 10px;
  border-radius: 4px;
} 

.label{
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 2px 1px 0;
  font-size: 0.75rem;
}

.container_btn{
  margin: 0 0 0 50px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn-submit{
  background-color: #596d48;
  color: #e4e7e1;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  padding: 13px 45px;
  cursor: pointer;
}

.content_para-three{
  margin: 25px 0 0 0;
}

.para-link{
  color: #596d48;
  text-decoration: none;
}

/*--Error Message--*/
.error{
  width: 250px;
  padding-inline: 2px;
  font-size: 80%;
  border-radius: 5px;
}

@media only screen and (max-width: 768px){
  .side{
    min-width: 150px;
    width: 25vw;
      
  }
  .wine-icon{
    margin: 0px 0 15px 10%;
    width: 85%;
  }
}